.mapboxgl-control-container .mapboxgl-ctrl-top-left {
  width: 100%;
  padding: 30px;
}

.mapboxgl-control-container .mapboxgl-ctrl-top-left .mapboxgl-ctrl {
  margin: 0;
}

.mapboxgl-ctrl-top-left .mapboxgl-ctrl-geocoder {
  border-radius: 10px;
}

.mapboxgl-ctrl-top-left .mapboxgl-ctrl-geocoder--input {
  height: 40px;
}

.mapboxgl-ctrl-top-left .mapboxgl-ctrl-geocoder--icon-search {
  top: 10px;
  fill: #25c9b4;
}

.mapboxgl-ctrl-top-left .mapboxgl-ctrl-geocoder--icon-close {
  fill: #25c9b4;
}

.mapboxgl-ctrl-top-left
  .mapboxgl-ctrl-geocoder
  .mapboxgl-ctrl-geocoder--pin-right
  > * {
  top: 10px;
}

.mapboxgl-ctrl-top-left .mapboxgl-ctrl-geocoder .suggestions > li > a {
  padding: 2px;
}

.mapboxgl-ctrl-top-left .mapboxgl-ctrl-geocoder .suggestions > li > a {
  padding: 2px;
}
